<!DOCTYPE html>
<html>
  <head>
    <% include partials/templates/header.ejs %>
    <% include partials/templates/stylesheets.ejs %>
  </head>
  <body id="<%= ID %>">
    <% include partials/templates/menu-not-signed-in.ejs %>
      <h1 class="centered"><%= title %></h1>
      <p class="centered"><%= description %></p>
        <div class="content">
          <div class="centered">
            <% if (!emailFound) { %>
              <% if (Array.isArray(errors)) { %>
                  <div class="pure-u-1 pure-u-xl-1-2">
                    <div class="message">
                      <p><%= errors[0] %></p>
                    </div>
                  </div>
              <% } %>
            <% include partials/content/forgot-password-form.ejs %>
            <% } else { %>
              <p><strong>The link is only good for 1 hour.</strong></p>
              <p>After this time you'll need to apply for a new one.  Please check your spam folder if you don't receive it in your inbox within 5-10 minutes.</p>
            <% } %>
          </div>
        </div>
  </body>
</html>
