<!DOCTYPE html>
<html>
  <head>
    <% include partials/templates/header.ejs %>
    <% include partials/templates/stylesheets.ejs %>
  </head>
  <body id="<%= ID %>">
    <% include partials/templates/menu-not-signed-in.ejs %>
    <h1 class="centered"><%= title %></h1>
    <p class="centered">Enter the ingredients for your formula below.</p>

    <% include partials/content/formula-form.ejs %>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <% if (!loggedIn) { %>
      <script src="../javascripts/storage.js"></script>
      <script src="../javascripts/formula-api.js"></script>
      <script src="../javascripts/bootstrap.min.js"></script>
      
      <!-- Modal2 -->
      <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">It's Time to Log In or Register.</h4>
            </div>
            <div class="modal-body">
              <p>Great!  You've just rolled out a formula.</p>
              <p>Now it's time to either log in or create an account so you can save it.</p>
            </div>
            <div class="modal-footer">
              <a href="/login" class="pure-button pure-button-active button-success not-decorated">Log In</a>
              <a href="/register" class="pure-button pure-button-active button-secondary not-decorated">Create An Account</a>
            </div>
          </div>
        </div>
      </div>
    <% } else { %>
        <script src="../../../javascripts/formula-api.js"></script>
        <script src="../../../javascripts/bootstrap.min.js"></script>
    <% } %>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  </body>
</html>
