<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Login</title>
    <% include partials/templates/header.ejs %>
    <% include partials/templates/stylesheets.ejs %>
  </head>
  <body id="<%= ID %>">
    <% include partials/templates/menu-not-signed-in.ejs %>
    <h1 class="centered"><%= title %></h1>
    <p class="centered">Log In To Your Account</p>

    <div class="centered">
      <% if (Array.isArray(errors)) { %>
          <div class="pure-u-1 pure-u-sm-1-2 pure-u-xl-1-4">
            <div class="message">
              <p><%= errors[0] %></p>
            </div>
          </div>
      <% } %>
      <% include partials/content/login-form.ejs %>
      <a href="/forgot-password">Forgot Your Password?</a>
    </div>

  </body>
</html>
