<!DOCTYPE html>
<html>
  <head>
    <% include partials/templates/header.ejs %>
    <% include partials/templates/stylesheets.ejs %>
  </head>
  <body id="<%= ID %>">
    <% include partials/templates/menu-not-signed-in.ejs %>
      <h1 class="centered"><%= title %></h1>
      <p class="centered"><%= description %></p>
      <div class="content">
      <% if (tokenFound) { %>
          <div class="centered">
            <% include partials/content/reset-password-form.ejs %>
          </div>
        <% } else { %>
          <p class="centered">Try <a href="/forgot-password">requesting another password.</a></p>
        <% } %>
      </div>
  </body>
</html>
