@import 'variables.less';

.padded-top {
  padding-top: 35px;
}

.padded-bottom {
  padding-bottom: 35px;
}

.padded-left {
  padding-left: 35px;
}

.padded-right {
  padding-right: 35px;
}

.margin-top {
  margin-top: 0.8em;
}

.margin-bottom {
  margin-bottom: 0.8em;
}

.margin-big-bottom {
  margin-bottom: 10em;
}

.margin-big-top {
  margin-top: 2em;
}

.margin-right {
  margin-right: 1em;
}

.margin-left {
  margin-left: 1em;
}

a.not-decorated:hover {
  text-decoration: none;
  color: saturate(@off-white, 15);
}

.centered-block {
  margin: auto;
}

.inline-block {
  display: inline-block;
}

.vertically-aligned {
  vertical-align: middle;
}

.centered {
  text-align: center;
}

.centered-form {
  margin: 0 auto;
  width: 250px;
}

.pulled-left {
  float: left;
}

.pulled-right {
  float: right;
}

.list-unstyled {
  list-style-type: none;
  margin: 0 px;
  padding: 0 px;
  li {
    display: inline-block;
  }
}

.thead-styled th {
  background-color: @table-grey;
  color: @off-white;
}

.button-warning {
  background: rgb(223, 117, 20);
  color: @off-white;
}

.button-success {
    background: rgb(28, 184, 65);
    color: @off-white;
}

.button-error {
    background: rgb(202, 60, 60);
    color: @off-white;
}

.button-secondary {
    background: rgb(66, 184, 221);
    color: @off-white;
}

.button-big {
  padding: 15px 20px 15px 20px;
  font-size: 1.4em;
}

.absolute {
  position: absolute;
}

.content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 1100px;
}

.full-width {
  width: 100%;
}

.headline {
  font-size: @xxl-font;
  font-family: courier;
}

.light-gray {
  background-color: @light-gray;
  color: @dark-grey;
  margin-top: 1em;
  font-size: @sm-font;
  font-family: arial;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

footer {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  font-size: @sm-font;
  background-color: lighten(@purple, 50%);
  p {
    color: lighten(@off-white, 15%);
  }
  a {
    color: darken(@off-white, 15%);
  }
}

.message {
  background-color: @red;
  padding: 5px 10px 0px 10px;
  border: 1px solid darken(@red, 5%);
  margin-bottom: 15px;
  p {
    color: @off-white;
  }
}
