<form class="pure-form centered-form" id="forgot-password-form" action="/forgot-password" method="post">
  <fieldset>
      <label for="username">Your e-mail:</label>
      <input type="email" name="username" id="username" required="true" placeholder="Your Email Address" />

    <input type="submit" value="Submit" class="pure-button"></input>
  </fieldset>
</form>
