<form class="pure-form centered-form" id="forgot-password-form" action="/forgot-password" method="post">
  <fieldset>
    <input type="email" name="username" id="username" required="true" placeholder="Your Email Address" /><br />

    <input type="submit" value="Submit" class="pure-button margin-top"></input>
  </fieldset>
</form>
