<div class="pure-g">
  <ul class="list-unstyled">
    <% formulas.forEach(function(item){ %>
      <div class="pure-u-1-4">
        <div class="formula-block centered">
          <li class="padded-top"><h4> <%= item.name %></h4></li>
        </div>
      </div>
    <%   });   %>
  </ul>
</div>
