<form class="centered formula-form">
  <label for="project">Formula Name:</label>
    <input type="text" id="project" name="project" placeholder="Name your project" <% if (project !== null) { %> value="<%= project.name %>" <% } %> maxlength="20" required />
  <label for="description">Description:</label>
    <input type="text" id="description" name="description" placeholder="Give it a brief description" <% if (project !== null) { %> value="<%= project.description %>" <% } %> maxlength="35" required /> <br /> <br />
  <label for="name">Name:</label>
    <input type="text" id="name" placeholder="Ingredient Name" required  />
  <label for="amount">Amount (mg):</label>
    <input type="number" id="amount" placeholder="0" min="0" step="0.1" required />
  <label for="notes">Notes:</label>
    <input type="text" id="notes" placeholder="form, supplier, etc" />
    <input type="submit" value="Add Ingredient" class="pure-button" />
</form>

<div class="centered">
    <h2>Your Formula</h2>
      <table class="centered-block pure-table pure-table-striped formula-table">
        <thead class="thead-styled">
          <tr class="centered">
              <th>Ingredient</th>
              <th>Amount</th>
              <th>Notes</th>
              <th></th>
          </tr>
        </thead>
        <tbody class="formula-body">
        </tbody>
      </table>
    <button type="submit" value="Submit" class="pure-button pure-button-primary formula-submit" <% if(project !== null) { %> id = "<%= project.f_id %>" <% } %>>Submit</button>
  </div>
