<form id="registration-form" action="/login" method="post">
  <input type="email" name="email" required="true" placeholder="Your Email Address" /> <br />
  <input type="password" name="password" required="true" placeholder="password" /> <br />
  <input type="submit" value="Sign Up" class="pure-button"></input>
</form>
