<form class="pure-form pure-form-stacked centered-form" id="login-form" action="/login" method="post">
      <label for="username">Your e-mail:</label>
      <input type="email" name="username" id="username" required="true" placeholder="Your Email Address" />

      <label for="password">Your password:</label>
      <input type="password" pattern=".{8,24}" title="8 to 24 characters" name="password" id="password" required="true" placeholder="password" />

      <div class="g-recaptcha margin-top margin-bottom" data-sitekey="6LemwzgUAAAAABCkjbSONrDAa4y5Gu3g-sO7SFN7"></div>
      <input type="submit" value="Sign In" class="pure-button pure-button-primary"></input>
</form>
