<form class="pure-form pure-form-aligned" id="reset-password-form" action="/reset-password/<%=token%>" method="post">

    <legend><strong>Enter New Password Information Below</strong></legend>

    <fieldset>
    <div class="pure-control-group">
      <label for="password">New Password:</label>
      <input type="password" pattern=".{8,24}" title="8 to 24 characters" name="password" id="password" required="true" placeholder="Password" />
      <span class="pure-form-message-inline">8-24 characters. 1 letter, number, & special character.</span>
    </div>

    <div class="pure-control-group">
      <label for="password2">New Password Again:</label>
      <input type="password" pattern=".{8,24}" title="8 to 24 characters" name="password2" id="password2" required="true" placeholder="Password" />
      <span class="pure-form-message-inline">8-24 characters. 1 letter, number, & special character.</span>
    </div>
  </fieldset>

  <div class="centered">
    <input type="submit" value="Submit" class="pure-button margin-top"></input>
  </div>
</form>
