<form class="pure-form pure-form-aligned centered-form" id="forgot-password-form" action="/forgot-password" method="post">

  <fieldset>
    <legend><strong>Enter New Password Information Below</strong></legend>

    <div class="pure-control-group">
      <label for="password">Your New Password:</label>
      <input type="password" pattern=".{8,24}" title="8 to 24 characters" name="password" id="password" required="true" placeholder="Your New Password" />
      <span class="pure-form-message-inline">Between 8 and 24 characters. Must contain numbers, letters and at least 1 special character.</span>
    </div>

    <div class="pure-control-group">
      <label for="password2">Your New Password Again:</label>
      <input type="password2" pattern=".{8,24}" title="8 to 24 characters" name="password2" id="password2" required="true" placeholder="Your New Password Again" />
      <span class="pure-form-message-inline">Between 8 and 24 characters. Must contain numbers, letters and at least 1 special character.</span>
    </div>

    <input type="submit" value="Submit" class="pure-button margin-top"></input>
  </fieldset>
</form>
